html {
	height: 100%; /* or else overflow-y don't work */
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed; /* prevent safari overscroll */
	margin: 0;
}

textarea {
	resize: none;
	font-size: 1em;
}

p {
	width: 50px;
	margin: 5px;
	padding-right:2em;
	column-span: all;
	height: 1.2em;

}

textarea {
	height: 2em;
}

#input {
	width: 100%;
}

#prefix, #suffix {
	width: 35%
}

#solve {
	margin-bottom: 0.5em;
	height:2.5em;
	width:6em;
	position: absolute;
	margin-left:3px;
	margin-top:1px;
	border-radius:0px;
}

#container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	height: 7em;
}

#header {
	width: 100%;
	background-color: blue;
	position: fixed;
}

#interface {
	width: 90%;
	max-width: 400px;
	margin: auto;
	margin-top: 1em;
/*	right: 50%;
	transform: translate(50%); */
}

#results {
	top: 7em;
	bottom: 0;
	width: 100%;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	margin-left: 2em;
	margin-bottom:1em;
	overflow-y: auto; /* enable the scroll */
	align-content: flex-start;
	-webkit-overflow-scrolling: touch;
}
