body {
	margin: 0;
	position: static;
}

textarea {
	resize: none;
	font-size: 1em;
}

p {
	width: 50px;
	margin: 5px;
	padding-right:3em;
	height: 1.2em;
}

textarea {
	height: 2em;
}

#input {
	width: 100%;
}

#prefix, #suffix {
	width: 35%
}

#solve {
	margin-bottom: 0.5em;
	height:2.5em;
	width:6em;
	position: absolute;
	margin-left:3px;
	margin-top:1px;
	border-radius:0px;
}

#header {
	width: 100%;
	background-color: blue;
	position: fixed;
	height: 6em;
}


#interface {
	width: 90%;
	max-width: 400px;
	margin: auto;
	margin-top: 1em;
}

#results {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	padding-top:6em;
	margin-left: 2em;
	padding-right: 2em;
	padding-bottom: 3px;
}
